<!DOCTYPE html>
<html>
  <head>
    <title>Netplex</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('netflix_favicon.svg') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta property="og:title" content="Netplex" />
    <meta property='og:image' content="https://media.giphy.com/media/VGqm7zDg8XjKthGjlq/giphy.gif"/>
    <meta property="og:description"
      content="Netplex is a picture-perfect, single-page application clone of Netflix, a video-streaming platform, where signed up users can create profiles, watch videos, and add videos to personalized lists."
    />
    <meta property="og:url"
      content="https://netplex-app.herokuapp.com/#/"
    />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
